<?xml version="1.0"?>
<config>
    <modules>
        <Narbe_Questreport>
            <version>1.0.0</version>
        </Narbe_Questreport>
    </modules>
    <admin>
        <routers>
            <questreport>
                <use>admin</use>
                <args>
                    <module>Narbe_Questreport</module>
                    <frontName>questreport</frontName>
                </args>
            </questreport>
        </routers>
    </admin>
    <global>
        <blocks>
            <questreport>
                <class>Narbe_Questreport_Block</class>
            </questreport>
        </blocks>
        <models>
            <questreport>
                <class>Narbe_Questreport</class>
                <resourceModel>questreport_mysql4</resourceModel>
            </questreport>
            <questreport_mysql4>
                <class>Narbe_Questreport_Model_Mysql4</class>
                <entities>
                    <questreport>
                        <table>questreport</table>
                    </questreport>
                </entities>
            </questreport_mysql4>
        </models>
        <resources>
            <questreport_setup>
                <setup>
                    <module>Narbe_Questreport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </questreport_setup>
            <questreport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </questreport_write>
            <questreport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </questreport_read>
        </resources>
        <helpers>
            <questreport>
                <class>Narbe_Questreport_Helper</class>
            </questreport>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <questreport>
                        <type>singleton</type>
                        <class>questreport/observer</class>
                        <method>logVisitorAction</method>
                    </questreport>
                </observers>
            </controller_action_postdispatch>
        </events>
    </frontend>
</config>